*.are -crlf -diff -merge
*.bam -crlf -diff -merge
*.bmp -crlf -diff -merge
*.cre -crlf -diff -merge
*.dll -crlf -diff -merge
*.eff -crlf -diff -merge
*.exe -crlf -diff -merge
*.itm -crlf -diff -merge
*.ods -crlf -diff -merge
*.ogg -crlf -diff -merge
*.pdf -crlf -diff -merge
*.pro -crlf -diff -merge
*sox  -crlf -diff -merge
*.spl -crlf -diff -merge
*.sto -crlf -diff -merge
*.tiz -crlf -diff -merge
*.vvc -crlf -diff -merge
*.wav -crlf -diff -merge
*.wed -crlf -diff -merge
